  <!DOCTYPE html>
  <html>

  <head>
  	<meta charset="utf-8">
  	<title>Settings</title>
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
  </head>

  <body class="bg-gray-100 text-gray-900">
  	<div class="flex min-h-full items-center justify-center my-5 px-4 sm:px-6 lg:px-8">
  		<div class="w-full max-w-lg">
  			<div class="mb-2">
  				<a href="/posts" class="text-sm hover:text-blue-500">← Back to Posts</a>
  			</div>
  			<div class="bg-white rounded-lg shadow-lg p-10">
  				<h1 class="text-3xl font-bold mb-3">Settings</h1>
  				<% if (error) { %>
  				<div class="bg-red-100 rounded-lg p-2 text-red-500 text-center font-bold mb-3">
  					<p class="text-center"><%= error %></p>
  				</div>
  				<% } %>
  				<% if (success) { %>
  				<div class="bg-green-100 rounded-lg p-2 text-green-500 text-center font-bold mb-3">
  					<p class="text-center"><%= success %></p>
  				</div>
  				<% } %>
  				<form action="/setting/change-username" method="post">
  					<div class="col-span-6 sm:col-span-3">
  						<div class="mb-4">
  							<label for="newUsername" class="block text-sm font-medium text-gray-700 mb-2">Username:</label>
  							<input type="text" name="newUsername" value="<%= currentUser.username %>" class="border border-gray-400 rounded-lg px-3 py-2 w-full" /><br />
  						</div>
  						<div class="mb-4">
  							<input type="submit" value="Change" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg" />
  						</div>
  					</div>
  				</form>
  				<form action="/setting/change-email" method="post">
  					<div class="col-span-6 sm:col-span-3">
  						<div class="mb-4">
  							<label for="newEmail" class="block text-sm font-medium text-gray-700 mb-2">Email:</label>
  							<input type="email" name="newEmail" value="<%= currentUser.email %>" class="border border-gray-400 rounded-lg px-3 py-2 w-full" /><br />
  						</div>

  						<div class="mb-4">
  							<input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" value="Change">
  						</div>
  					</div>
  				</form>


  				<form action="/setting/change-password" method="post">
  					<div class="mb-4">
  						<label class="block text-sm font-medium text-gray-700 mb-2" for="currentPassword">Current Password:</label>
  						<input class="border border-gray-400 p-2 w-full rounded" type="password" name="currentPassword">
  					</div>

  					<div class="mb-4">
  						<label class="block text-sm font-medium text-gray-700 mb-2" for="newPassword">New Password:</label>
  						<input class="border border-gray-400 p-2 w-full rounded" type="password" name="newPassword">
  					</div>

  					<div class="mb-4">
  						<label class="block text-sm font-medium text-gray-700 mb-2" for="confirmNewPassword">Confirm New Password:</label>
  						<input class="border border-gray-400 p-2 w-full rounded" type="password" name="confirmNewPassword">
  					</div>
  					<div class="mb-4">
  						<input class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" value="Change">
  					</div>
  				</form>
  			</div>
  		</div>



  </body>

  </html>